@font-face {
  font-family: 'B612';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('B612-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('B612-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
